*.tar.gz

/autoload/*
!/autoload/.gitkeep

/plugged/*
!/plugged/.gitkeep

/files/*
!/files/backup/
/files/backup/*
!/files/backup/.gitkeep
!/files/undo/
/files/undo/*
!/files/undo/.gitkeep
!/files/info/
/files/info/*
!/files/info/.gitkeep
!/files/swap/
/files/swap/*
!/files/swap/.gitkeep
