*.tar.gz

# ignore files in `autoload`.
/autoload/*
!/autoload/.gitkeep

# ignore files in `colors`.
/colors/*
!/colors/.gitkeep

# ignore files in `cache`.
/cache/*
!/cache/.gitkeep

# ignore files in `plugged`.
/plugged/*
!/plugged/.gitkeep

# ignore files in `files`.
/files/*
!/files/backup/
/files/backup/*
!/files/backup/.gitkeep
!/files/undo/
/files/undo/*
!/files/undo/.gitkeep
!/files/info/
/files/info/*
!/files/info/.gitkeep
!/files/swap/
/files/swap/*
!/files/swap/.gitkeep
